.topnavbar-container {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.appheading {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.search-input {
    padding: 0.6rem 0.5rem;
    width: 24rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.navigators-container {
    display: flex;
}

.navigator {
    color: #fff;
    margin-left: 2rem;
}